<%# RENDER NAVIGATION BAR %>
<%= render 'common/flash' %>

<h1 class = "text-center m-4">List of all articles</h1>

<br/>
<%= render 'common/pagination', obj: @articles%>
<br/>

<%= render 'article' %>

<%= render 'common/pagination', obj: @articles%>

<br/>
<br/>


