<style>
    .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
    }

    .container {
        margin-top: 30px;
        /* position: relative; */
        height: 600px;
        /* background-image: url(assets/blog.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover; */
    }

    .px-3 {
        margin: auto;
    }
</style>

<div class="container">
    <div class="d-flex h-100 text-center text-bg-dark">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main class="px-3">
            <h1>Cover your page.</h1>
            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
            <p class="lead">
            <%= link_to 'Sign Up', signup_path, class: "btn btn-lg btn-success"%>
            <%# <a href="#" class="btn btn-lg btn-success">Sign Up</a> %>
            </p>
        </main>
    
        </div>
    </div>
</div>