/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body {
    background-color: lightgrey !important;
}

nav {
    background-color: #3b3b3b !important;
    height: 70px;
}

.navbar-brand {
    font-size: 20px;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    background-color: white;
    color: black !important;
}

#logo {
    color: white !important;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 30px;
}

footer {
    color: white;
    background-color: #3b3b3b;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.center {
    text-align: center;
    vertical-align: middle;
}

.flickr_pagination {
    text-align: center;
    padding: 0.3em;
    cursor: default;
}

.flickr_pagination a,
.flickr_pagination span,
.flickr_pagination em {
    padding: 0.2em 0.5em;
    border-radius: 7px;
    border: 1px solid;
    margin: 2px;
}

.flickr_pagination .disabled {
    color: #aaaaaa;
}

.flickr_pagination .current {
    font-style: normal;
    background-color: #0d6efd;
    color: white;
    border-color: #0d6efd;
}

.flickr_pagination a {
    border: 0.5px solid #0d6efd;
    color: #0d6efd;
    text-decoration: none;
    width: 50%;
}

.flickr_pagination a:hover,
.flickr_pagination a:focus {
    border-color: #0d6efd;
    background: #0d6efd;
    color: white;
}

.flickr_pagination .previous_page,
.flickr_pagination .next_page {
    border-width: 2px;
}

.flickr_pagination .previous_page {
    margin-right: 1em;
}

.flickr_pagination .next_page {
    margin-left: 1em;
}