/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body {
    background-color: lightgrey !important;
}

nav {
    background-color: #3b3b3b !important;
}

.nav-link {
    color: white !important;
}

#logo {
    color: white !important;
    letter-spacing: 2px;
    font-weight: bold;
}

footer {
    color: white;
    background-color: #3b3b3b;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.center {
    text-align: center;
    vertical-align: middle;
}