<style>
.alert {
    text-align: center;
    height: 60px;
    font-weight: bold;
    font-size: 20px;
}
</style>

<% if flash.any? %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <% flash.each do |name, msg| %>
            <p style = "text-align: center;"><%= msg %></p>
        <% end %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% end %>